package ${package.Mapper};
import ${package.Entity}.${entity};
import com.baomidou.mybatisplus.mapper.BaseMapper;

/**
  * $!{table.comment}Mapper接口
 * @author ${author}
 * @date ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}


