<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.datamart.mapper.DocFileCodeMapper">

   <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="com.haier.datamart.entity.DocFileCode">
      <id column="id" property="id" />
      <result column="type" property="type" />
      <result column="sub1" property="sub1" />
      <result column="sub2" property="sub2" />
      <result column="sub3" property="sub3" />
      <result column="nums" property="nums" />
      <result column="code" property="code" />
      <result column="remarks" property="remarks" />
      <result column="create_by" property="createBy" />
      <result column="create_date" property="createDate" />
      <result column="update_by" property="updateBy" />
      <result column="update_date" property="updateDate" />
      <result column="del_flag" property="delFlag" />
   </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      sub1,
      sub2,
      sub3,
      nums,
      code,
      remarks,
      create_by,
      create_date,
      update_by,
      update_date,
      del_flag,
      type
</sql>

</mapper>
