<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.datamart.mapper.DocUploadFileOptHistoryMapper">

   <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="com.haier.datamart.entity.DocUploadFileOptHistory">
      <id column="id" property="id" />
      <result column="file_type" property="fileType" />
      <result column="file_id" property="fileId" />
      <result column="json_data" property="jsonData" />
      <result column="opt_type" property="optType" />
      <result column="remarks" property="remarks" />
      <result column="create_by" property="createBy" />
      <result column="create_date" property="createDate" />
      <result column="update_by" property="updateBy" />
      <result column="update_date" property="updateDate" />
      <result column="del_flag" property="delFlag" />
   </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      file_type,
      file_id,
      json_data,
      opt_type,
      remarks,
      create_by,
      create_date,
      update_by,
      update_date,
      del_flag,
</sql>

</mapper>
