<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.datamart.mapper.MonitorEtlMailIndexMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.datamart.entity.MonitorEtlMailIndex">
        <id column="id" property="id" />
        <id column="entrymark" property="entrymark" />
        <result column="group_id" property="groupId" />
        <result column="group_name" property="groupName" />
        <result column="login_name" property="loginName" />
        <result column="index_id" property="indexId" />
        <result column="index_name" property="indexName" />
        <result column="type_id" property="typeId" />
        <result column="module_desc" property="moduleDesc" />
        <result column="state" property="state" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="remarks" property="remarks" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id AS groupId, group_name AS groupName, index_id AS indexId, index_name AS indexName, type_id AS typeId, module_desc AS moduleDesc, state, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, remarks, del_flag AS delFlag
    </sql>
    <!-- 指标组配置管理  查询 获取指标组基本信息-->
	<select id="getEtlMailIndex" parameterType="com.haier.datamart.entity.MonitorEtlMailIndex" resultMap="BaseResultMap">
		select t1.*,t2.name as login_name from monitor_etl_mail_index t1 LEFT JOIN sys_user t2 on t1.create_by=t2.id  where 1=1
			<if test="groupName != null">
				and t1.group_name  like concat('%',#{groupName},'%')
			</if>
			<if test="createBy != null">
				and t1.create_by  like concat('%',#{createBy},'%')
			</if>
			    and t1.del_flag=0 
			
				group by t1.group_id
	</select>
	<!-- 指标组配置管理  根据groupId查询 获取要修改的指标组数据-->
	<select id="getEtlMailIndex2Update" parameterType="String" resultType="com.haier.datamart.entity.MonitorEtlMailIndex">
		select <include refid="Base_Column_List"/> from monitor_etl_mail_index where 1=1
			    and group_id=#{groupId} and del_flag=0 
	</select>
	<!-- 指标组配置管理  根据groupName查询 校验-->
	<select id="getEtlMailIndexByGroupName" parameterType="String" resultType="com.haier.datamart.entity.MonitorEtlMailIndex">
		select <include refid="Base_Column_List"/> from monitor_etl_mail_index where 1=1
			    and group_name=#{groupName} and del_flag=0 
	</select>

	<!-- 指标组配置管理  新增-->	
	<insert id="insertEtlMailIndex" parameterType="com.haier.datamart.entity.MonitorEtlMailIndex">
		insert into monitor_etl_mail_index
	<trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="groupId != null" >
	        group_id,
	      </if>
	      <if test="groupName != null" >
	        group_name,
	      </if>
	      <if test="indexId != null" >
	        index_id,
	      </if>
	      <if test="indexName != null" >
	        index_name,
	      </if>
	       <if test="typeId != null" >
	        type_id,
	      </if>
	       <if test="moduleDesc != null" >
	        module_desc,
	      </if>
	       <if test="state != null" >
	        state,
	      </if>
	      <if test="createBy != null" >
	        create_by,
	      </if>
	      <if test="createDate != null" >
	        create_date,
	      </if>
	      <if test="updateBy != null" >
	        update_by,
	      </if>
	      <if test="updateDate != null" >
	        update_date,
	      </if>
	      <if test="remarks != null" >
	        remarks,
	      </if>
	     </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id},
	      </if>
	      <if test="groupId != null" >
	         #{groupId},
	      </if>
	      <if test="groupName != null" >
	         #{groupName},
	      </if>
	      <if test="indexId != null" >
	         #{indexId},
	      </if>
	      <if test="indexName != null" >
	         #{indexName},
	      </if>
	       <if test="typeId != null" >
	         #{typeId},
	      </if>
	       <if test="moduleDesc != null" >
	         #{moduleDesc},
	      </if>
	       <if test="state != null" >
	         #{state},
	      </if>
	      <if test="createBy != null" >
	        #{createBy},
	      </if>
	      <if test="createDate != null" >
	         #{createDate},
	      </if>
	      <if test="updateBy != null" >
	        #{updateBy},
	      </if>
	      <if test="updateDate != null" >
	         #{updateDate},
	      </if>
	      <if test="remarks != null" >
	         #{remarks},
	      </if>
	</trim>
	</insert>
	<update id="deleteByGroupId" parameterType="String">
		update monitor_etl_mail_index set del_flag=1 where group_id =#{groupId}
	</update>
	<update id="updateByGroupId" parameterType="com.haier.datamart.entity.MonitorEtlMailIndex">
			update monitor_etl_mail_index 
			<set>
			<if test="id != null" >
				id=#{id},
			</if>
			<if test="groupId != null" >
				group_id=#{groupId},
			</if>
			<if test="groupName != null" >
				group_name=#{groupName},
			</if>
			<if test="indexId != null" >
				index_id=#{indexId},
			</if>
			<if test="indexName != null" >
				index_name=#{indexName},
			</if>
			<if test="typeId != null" >
				type_id=#{typeId},
			</if>
			<if test="moduleDesc != null" >
				module_desc=#{moduleDesc},
		    </if>
			<if test="state != null" >
				state=#{state},
			</if>
			<if test="createDate != null" >
				create_date=#{createDate},
			</if>
		    <if test="createBy != null" >
				create_by=#{createBy},
			</if>
			<if test="updateBy != null" >
				update_by=#{updateBy},
			</if>
			<if test="updateDate != null" >
				update_date=#{updateDate},
			</if>
			<if test="remarks != null" >
				remarks=#{remarks},
			</if>
			</set>
				  where group_id=#{groupId}
	</update>
</mapper>
