<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.datamart.mapper.SearchIndexMagicReviseMapper">

   <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="com.haier.datamart.entity.SearchIndexMagicRevise">
      <result column="id" property="id" />
      <result column="index_id" property="indexId" />
      <result column="pre_magic_info" property="preMagicInfo" />
      <result column="magic_info" property="magicInfo" />
      <result column="sh_status" property="shStatus" />
      <result column="sh_user" property="shUser" />
      <result column="create_by" property="createBy" />
      <result column="create_date" property="createDate" />
      <result column="update_by" property="updateBy" />
      <result column="update_date" property="updateDate" />
      <result column="remarks" property="remarks" />
      <result column="del_flag" property="delFlag" />
   </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      id,
      index_id,
      pre_magic_info,
      magic_info,
      sh_status,
      sh_user,
      create_by,
      create_date,
      update_by,
      update_date,
      remarks,
      del_flag,
</sql>

</mapper>
