<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.datamart.mapper.SearchCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.datamart.entity.SearchCategory">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="remarks" property="remarks" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id AS parentId, parent_ids AS parentIds, name, sort, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, remarks, del_flag AS delFlag
    </sql>
    <sql id="searchCategoryColumns">
		a.id AS "id",
		a.parent_id AS "parentId",
		a.parent_ids AS "parentIds",
		a.name AS "name",
		a.sort AS "sort",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="searchCategoryJoins">
	</sql>

		<select id="findList" resultType="com.haier.datamart.entity.SearchCategory">
		SELECT 
			<include refid="searchCategoryColumns"/>
		FROM search_category a
		<include refid="searchCategoryJoins"/>
		<where>
			a.del_flag = 0
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.sort asc
			</otherwise>
			
		</choose>
	
	</select>

</mapper>
