<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.datamart.mapper.SysProductExcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.datamart.entity.SysProductExc">
        <result column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="exc_id" property="excId" />
    </resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id AS productId, exc_id AS excId
    </sql>
	<!-- 
	 * 通过关系表中的项目id获取对应的接口id集合
	 * @param productId
	 * @return
	 List<Long> getDataInterfaceList(String productId); -->
	<select id="getDataInterfaceList" resultType="java.lang.Long">
		select 
			exc_id AS excId
		from
			sys_product_exc
	 <if test="productId != null and productId != '' " >
		where
			product_id=#{productId}
      </if>
	</select>
	<!--  * 将项目和接口对应关系存入关系表中
	Integer addForCorrelation(@Param("productId")String productId, @Param("excId")Long excId); -->
	<insert id="addForCorrelation">
		insert into sys_product_exc
			(product_id,
			exc_id)
		values(
			#{productId},
			#{excId})
	</insert>
</mapper>
