<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.datamart.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haier.datamart.entity.SysUser">
        <result column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="mobile" property="mobile" />
        <result column="user_type" property="userType" />
        <result column="photo" property="photo" />
        <result column="login_ip" property="loginIp" />
        <result column="login_date" property="loginDate" />
        <result column="login_flag" property="loginFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="remarks" property="remarks" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name AS loginName, password, no, name, email, phone, mobile, user_type AS userType, photo, login_ip AS loginIp, login_date AS loginDate, login_flag AS loginFlag, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, remarks, del_flag AS delFlag
    </sql>
	<select id="getById" resultType="com.haier.datamart.entity.SysUser">
		SELECT 
			<include refid="Base_Column_List"/>
		FROM sys_user a
		WHERE a.id = #{id}
	</select>
</mapper>
